
/* * {
    border: 1px solid teal !important;
} */

/* Color Variables */
:root {
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #C2C1BD;
    --ac-color-0: #5D594F;
    --ac-color-1: #D12625;
    --ac-color-2: #DA6241;
    --ac-color-3: #F1CB29;
    --ac-color-4: #4BB249;
    --ac-color-5: #009EDA;
}
/* GENERAL PAGE STYLING */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--secondary-bg-color);
}
h1 {
    font-weight: 600;
    text-align: center;
    font-size: 4em;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    margin: 30px 0 10px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER & NAV STYLING */
header {
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;;
    padding: 10px 10px;
    /* color:var(--main-bg-color); */
}

nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    padding: 5px;
    display: none;
}


/* ABOUT STYLING */

#About {
    display: flex;
    flex-direction: column;
}
img.about-me-img {
    border-radius:90px 12px;
    max-width: 85vw;
    margin: 0 0 15px 0;
    align-self: center;
}

#About p {
    padding:8px;
    margin: 8px;
    border-radius: 8px;
    background-color: var(--main-bg-color);
}

/* TECH STYLING */
.tech ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 12px 0 24px;
}

.tech ul li {
    padding: 4px;
}

#really-no-icon-why {
    height: 1em;
    vertical-align: bottom;
}

/* WORK STYLING */
.work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.work-card{
    grid-column: 1 / 2;
    width: 90%;
    border-radius: 12px;
    margin: 5px auto;
    border:1px solid var(--ac-color-0);
    background-color: var(--main-bg-color);
}

.work-card img {
    border-radius: 9px 9px 0 0 ;
    object-fit: cover;
    width: 100%;
}

.work-card h3 {
    font-weight: bold;
}

.work-card .card-text {
    padding: 5px 12px;
}

.work-card .card-button-group {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.work-card a {
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border-radius: 3px;
}

.work-card a:hover{
    background-color: var(--ac-color-5);
}

.work-card a:active{
    background-color: var(--ac-color-4);
    border-radius: 7px;
}

/* CONTACT & SOCIAL LINKS STYLING */
.contact {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.contact h2 {
    height: auto;
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
}
.contact-form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

input, textarea, label {
    padding: 2px;
    margin: 2px
}

input {
    width: 70%
}

.contact-social-links {
    display: flex;
    align-items: center;
}

.contact-social-links ul li {
    padding: 4px;
    font-size: 0.9em;
}
.contact-social-links ul i {
    margin-right: 3px;
}

/* FOOTER STYLING */
footer {
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
footer .sitemap,footer .site-links{
    margin: 5px;
    font-size: 0.9em;
}

footer .sitemap {
    /* margin: 5px; */
    grid-column: 1 / 2;
}

footer .site-links{
    /* margin: 5px; */
    grid-column: 2 / 3;
}

footer .copyright {
    margin: 2px;
    font-size: 0.7em;
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    text-align: center;
    align-self: end;
}