// Sass Variables
$white: #FFFFFF
$dark-accent: #5D594F 
$light-accent: #C2C1BD
$color-accent-1: #D12625
$color-accent-2: #DA6241
$color-accent-3: #F1CB29
$color-accent-4: #4BB249
$color-accent-5: #009EDA

// Toggled Styling
.active
  visibility: visible
  z-index: 1
  opacity: 1

.inactive
  visibility: collapse
  opacity: 0
  z-index: 1

// Regular Styling 
.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.5em
  background-color: $dark-accent
  color: $white
  
  nav 
    min-width: 30%
    justify-content: flex-end
    transition: all 0.25s

    ul
      background-color: $dark-accent
      position: absolute
      z-index: 1
      top: 0
      right: 0
      display: flex
      flex-direction: column
      justify-content: space-around
      padding: 2em 0 

      li
        text-align: right
        padding: 0.5em 1em
        width: 100%
        
      :hover
        background-color: $color-accent-5
        color: $white

.about
  margin: 2em 0 0 0
  display: flex
  // change direction for larger display
  flex-direction: column
  // 
  justify-content: space-between
  align-items: center
  .headshotContainer
    overflow: hidden
    border-radius: 90px 16px
    border: 8px solid $color-accent-3
    background-color: $color-accent-3
  .aboutText p
    // margin: 0 -2%
    padding: 1em 0.75em
    border-radius: 16px 60px 
    text-align: center
    background-color: $white

.tech
  ul
    display: flex
    justify-content: center
    flex-wrap: wrap

    li
      display: flex
      align-items: center
      justify-content: center
      padding: 0.25em 0em
      width: 50%
      font-size: 1.2em

.work
  .showcase
    display: flex
    justify-content: space-around
    flex-wrap: wrap

    .card
      display: flex
      flex-direction: column
      justify-content: space-between
      margin: 1em
      // change width for larger screens
      width: 98%
      // 
      border: 1px solid $dark-accent
      border-radius: 16px
      overflow: hidden
      background-color: $white
      .projtext
        justify-self: flex-start
        padding: 3px 0.5em
      .projbuttons
        display: flex
        justify-content: space-between
        justify-self: flex-end
        align-items: center
        padding: 0.5em 0.5em

        a
          color: $white
          background-color: $dark-accent
          padding: 0.5em 1em
          width: 31%
          text-align: center
          border-radius: 3px
        :hover
          background-color: $color-accent-5
        :active
          background-color: $color-accent-4
          border-radius: 6px

.contact
  ul
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 2em

    li
      font-size: 3em
      display: flex
      align-items: center
      background-color: $light-accent
      border-radius: 9px
      
    a
      display: inline-block
      padding: 0.5em
    :hover
      background-color: $color-accent-3


.footer 
  height: fit-content
  padding: 1em 0
  display: flex
  text-align: center
  justify-content: center
  align-items: center
  color: $white
  background-color: $dark-accent

// Media Queries
@media screen and (min-width: 426px) //TABLET
  .aboutText
    width: 75%

  .tech ul li
    width: 30%

  .card
    max-width: 45%

@media screen and (min-width: 769px) //LAPTOP
  .about
    flex-direction: row
    .aboutText
      width: 55%
  .tech ul li
    width: 25%

@media screen and (min-width: 1440px) //BIG SCREEN
  .card
    max-width: 30%

